@media screen and (max-width: 500px) {
}
    #navPanel {
        color: #ffffff;
            width: 70%;
        /* background-color: #2f7b25a3; */
        /* background-color: #257b7ba3; */
        background-color: #247294a3;
        

    }

    

#navPanel ul.links li.active a {

    color: wheat !important;
    font-size: 2.5rem !important;
}
 
    li a{
        color: #ffffff;
        font-size: 2rem !important;

            }
    h3{
        font-size: 2.5rem !important;

        color: #ffffff;
    }
    #main{
        /* background-color: #00aaff52; */
                background-image: url('/images/background.png');



        margin-top:50px;
        margin-bottom: 500px;
        box-shadow: inset 0 0 0 3px #0000009a;

    }



@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 1000%;
  }
  100% {
    background-position: 0% 0%;
  }
}



    .spinner {
        border: 4px solid rgba(255, 255, 255, 0.3);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
        position: absolute;
        top: 12%;
        left: 50%;
        margin: -20px 0 0 -20px;
    }
    #spinnertext{
        color:#ffffff;
    }
    #label-container {
        color:#ffffff;
    }
    #label-container2 {
        background-color: black;
        color:#ffffff;
        word-wrap: break-word; /* Handles long words */

    }
 
 



.profile-labels,.setting-labels{
    color:wheat;
    margin-bottom: 20px;
}


input[type="submit"],button,input[type="text"],input[type="password"] {
    color: #fcfcfc !important;
}
input[type="text"]{
    font-size: 1.5rem;
}

input[type="submit"]{
    width:80%;
}
div.profile-labels label,div.setting-labels label{
    font-size: 1.5rem;
}

a.redirect_w{
    color: #ffffff ;
}
button.editPref,button.SaveChanges{
    font-size: 2rem;
    width:300px; 
    height:50px;
    margin-bottom: 20px;
    border-radius: 5%;
    box-shadow: inset 0 0 0 2px #000000;
} 

button.redirect_w{
    font-size: 2rem;
    width:300px; 
    height:50px;
    margin-bottom: 20px;
    border-radius: 5%;
    background-color: #00aaff52;
    box-shadow: inset 0 0 0 2px #000000;
} 

button:hover {
    box-shadow: inset 0 0 0 2px #18bfef;
    color: #ffffff !important;
}
#modelSwitch{
    color: #ffffff ;
    visibility: hidden;
    margin-bottom: 10px;
}

button.log-out_b{
    box-shadow: inset 0 0 0 5px rgba(0, 174, 255, 0.337);
    position: absolute; 
    bottom: 20px;
    right: 5px;
    width:150px; 
    height:75px;
    font-size: 1.5rem;
}
.profile-labels label{
    text-align: left;
    font-size: 1.10rem;
    color: wheat;

}
.setting-labels{
    margin-bottom: 40px;

}
.setting-labels label{
    text-align: left;
    font-size: 1.10rem;
    color: wheat;
    margin-bottom: -20px;

}
