@media screen and (max-width: 500px) {

    #navPanel {
        color: #ffffff;
        /* background-color: #2f7b25a3; */
        background-color: #257b7ba3;
        

    }
    li a{
        color: #ffffff;
    }
    h3{
        color: #ffffff;
    }
    #main{
        background-color: #00aaff52;
        margin-top:50px;
        margin-bottom: 500px;
    }
    .spinner {
        border: 4px solid rgba(255, 255, 255, 0.3);
        border-top: 4px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
        position: absolute;
        top: 15%;
        left: 50%;
        margin: -20px 0 0 -20px;
    }
    #spinnertext{
        color:#ffffff;
    }
    #label-container {
        color:#ffffff;
    }
    #label-container2 {
        background-color: black;
        color:#ffffff;
        word-wrap: break-word; /* Handles long words */

    }
 
 

}

.profile-labels,.setting-labels{
    color:wheat;
    margin-bottom: 20px;
}

